body{
   
    background-color: #333;
    font-family: 'Comfortaa', sans-serif;
    font-size: 36px;
}

img {
    display:flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 800px;
    border-radius: 25px;
    overflow: hidden; 
}
i{
    font-size: 100px;
}

div{
    color: lime;
}
span{
    color: tomato;
    text-decoration: underline;
}
p{
    height: 20px;
}